<!doctype html>
  <!--  Footer -->
  <p>
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 이 사이트는 자취세끼 팀에 의하여 개설된 사이트입니다.
          <a href="#"> 자취세끼 문선일, 노지홍, 노권영 </a> </small>
      </div>
  </footer>

  </body>
</html>
